<a href="https://colab.research.google.com/github/Nimira43/Business-Data-Analytics-Intelligence/blob/main/Basic_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Statistics

In [4]:
#change directory
%cd /content/drive/MyDrive/Colab Notebooks/Business Data Analytics/01-Basic-Statistics

/content/drive/MyDrive/Colab Notebooks/Business Data Analytics/01-Basic-Statistics

In [5]:
#libraries
import pandas as pd
import seaborn as sns

In [6]:
#dataset
df = pd.read_csv('Baseball.csv')
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

##Mean

In [7]:
#Mean of runs scored - rs
df.RS.mean()

715.0819805194806

In [9]:
#Arizona data
df.loc[df.Team == 'ARI']

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409
60,ARI,NL,2010,713,836,65,0.325,0.416,0.250,0,NaN,NaN,162,0.340,0.448
90,ARI,NL,2009,720,782,70,0.324,0.418,0.253,0,NaN,NaN,162,0.330,0.419
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398
150,ARI,NL,2007,712,732,90,0.321,0.413,0.250,1,3.0,3.0,162,0.334,0.420
180,ARI,NL,2006,773,788,76,0.331,0.424,0.267,0,NaN,NaN,162,0.335,0.431
210,ARI,NL,2005,696,856,77,0.332,0.421,0.256,0,NaN,NaN,162,0.345,0.455
241,ARI,NL,2004,615,899,51,0.310,0.393,0.253,0,NaN,NaN,162,0.350,0.439
271,ARI,NL,2003,717,685,84,0.330,0.417,0.263,0,NaN,NaN,162,0.322,0.388
301,ARI,NL,2002,819,674,98,0.346,0.423,0.267,1,4.0,4.0,162,0.305,0.397
331,ARI,NL,2001,818,677,92,0.341,0.442,0.267,1,5.0,1.0,162,0.311,0.404
361,ARI,NL,2000,792,754,85,0.333,0.429,0.265,0,NaN,NaN,162,0.326,0.424
391,ARI,NL,1999,908,676,100,0.347,0.459,0.277,1,2.0,4.0,162,0.320,0.402
421,ARI,NL,1998,665,812,65,0.314,0.393,0.246,0,NaN,NaN,162,NaN,NaN

In [10]:
#Mean of runs scored - rs - Arizona
df.loc[df.Team == 'ARI'].RS.mean()

742.2

In [12]:
#Arizona - since 2005
df.loc[(df.Team == 'ARI') & (df.Year > 2005)]

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409
60,ARI,NL,2010,713,836,65,0.325,0.416,0.250,0,NaN,NaN,162,0.340,0.448
90,ARI,NL,2009,720,782,70,0.324,0.418,0.253,0,NaN,NaN,162,0.330,0.419
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398
150,ARI,NL,2007,712,732,90,0.321,0.413,0.250,1,3.0,3.0,162,0.334,0.420
180,ARI,NL,2006,773,788,76,0.331,0.424,0.267,0,NaN,NaN,162,0.335,0.431

In [13]:
#Mean of runs scored - rs - Arizona - since 2005
df.loc[(df.Team == 'ARI') & (df.Year > 2005)].RS.mean()

729.0

In [15]:
#Chicago data
df.loc[df.Team == 'CHC']

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
34,CHC,NL,2011,654,756,71,0.314,0.401,0.256,0,NaN,NaN,162,0.335,0.413
64,CHC,NL,2010,685,767,75,0.320,0.401,0.257,0,NaN,NaN,162,0.334,0.398
94,CHC,NL,2009,707,672,83,0.332,0.407,0.255,0,NaN,NaN,161,0.324,0.391
124,CHC,NL,2008,855,671,97,0.354,0.443,0.278,1,2.0,4.0,161,0.316,0.395
154,CHC,NL,2007,752,690,85,0.333,0.422,0.271,1,5.0,4.0,162,0.322,0.399
184,CHC,NL,2006,716,834,66,0.319,0.422,0.268,0,NaN,NaN,162,0.342,0.431
214,CHC,NL,2005,703,714,79,0.324,0.440,0.270,0,NaN,NaN,162,0.325,0.407
245,CHC,NL,2004,789,665,89,0.328,0.458,0.268,0,NaN,NaN,162,0.321,0.395
275,CHC,NL,2003,724,683,88,0.323,0.416,0.259,1,7.0,3.0,162,0.324,0.372
305,CHC,NL,2002,706,759,67,0.321,0.413,0.246,0,NaN,NaN,162,0.331,0.407
335,CHC,NL,2001,777,701,88,0.336,0.430,0.261,0,NaN,NaN,162,0.321,0.398
365,CHC,NL,2000,764,904,65,0.335,0.411,0.256,0,NaN,NaN,162,0.348,0.452
395,CHC,NL,1999,747,920,67,0.329,0.420,0.257,0,NaN,NaN,162,0.346,0.467
425,CHC,NL,1998,831,792,90,0.337,0.433,0.264,1,6.0,4.0,163,NaN,NaN
454,CHC,NL,1997,687,759,68,0.321,0.396,0.263,0,NaN,NaN,162,NaN,NaN
482,CHC,NL,1996,772,771,76,0.320,0.401,0.251,0,NaN,NaN,162,NaN,NaN
510,CHC,NL,1993,738,739,84,0.325,0.414,0.270,0,NaN,NaN,163,NaN,NaN
538,CHC,NL,1992,593,624,78,0.307,0.364,0.254,0,NaN,NaN,162,NaN,NaN
564,CHC,NL,1991,695,734,77,0.309,0.390,0.253,0,NaN,NaN,160,NaN,NaN
590,CHC,NL,1990,690,774,77,0.314,0.392,0.263,0,NaN,NaN,162,NaN,NaN
616,CHC,NL,1989,702,623,93,0.319,0.387,0.261,1,2.0,3.0,162,NaN,NaN
642,CHC,NL,1988,660,694,77,0.310,0.383,0.261,0,NaN,NaN,163,NaN,NaN
668,CHC,NL,1987,720,801,76,0.326,0.432,0.264,0,NaN,NaN,161,NaN,NaN
694,CHC,NL,1986,680,781,70,0.318,0.398,0.256,0,NaN,NaN,160,NaN,NaN
720,CHC,NL,1985,686,729,77,0.324,0.390,0.254,0,NaN,NaN,162,NaN,NaN
746,CHC,NL,1984,762,658,96,0.331,0.397,0.260,1,2.0,3.0,161,NaN,NaN
772,CHC,NL,1983,701,719,71,0.319,0.401,0.261,0,NaN,NaN,162,NaN,NaN
798,CHC,NL,1982,676,709,73,0.317,0.375,0.260,0,NaN,NaN,162,NaN,NaN
824,CHC,NL,1980,614,728,64,0.309,0.365,0.251,0,NaN,NaN,162,NaN,NaN
850,CHC,NL,1979,706,707,80,0.329,0.403,0.269,0,NaN,NaN,162,NaN,NaN
876,CHC,NL,1978,664,724,79,0.331,0.361,0.264,0,NaN,NaN,162,NaN,NaN
902,CHC,NL,1977,692,739,81,0.330,0.387,0.266,0,NaN,NaN,162,NaN,NaN
928,CHC,NL,1976,611,728,75,0.313,0.356,0.251,0,NaN,NaN,162,NaN,NaN
952,CHC,NL,1975,712,827,75,0.338,0.368,0.259,0,NaN,NaN,162,NaN,NaN
976,CHC,NL,1974,669,826,66,0.327,0.365,0.251,0,NaN,NaN,162,NaN,NaN
1000,CHC,NL,1973,614,655,77,0.320,0.357,0.247,0,NaN,NaN,161,NaN,NaN
1024,CHC,NL,1971,637,648,83,0.325,0.378,0.258,0,NaN,NaN,162,NaN,NaN
1048,CHC,NL,1970,806,679,84,0.333,0.415,0.259,0,NaN,NaN,162,NaN,NaN
1072,CHC,NL,1969,720,611,92,0.323,0.384,0.253,0,NaN,NaN,163,NaN,NaN
1096,CHC,NL,1968,612,611,84,0.298,0.366,0.242,0,NaN,NaN,163,NaN,NaN
1116,CHC,NL,1967,702,624,87,0.316,0.378,0.251,0,NaN,NaN,162,NaN,NaN
1136,CHC,NL,1966,644,809,59,0.313,0.380,0.254,0,NaN,NaN,162,NaN,NaN
1155,CHC,NL,1965,635,723,72,0.307,0.358,0.238,0,NaN,NaN,164,NaN,NaN
1174,CHC,NL,1964,649,724,76,0.314,0.390,0.251,0,NaN,NaN,162,NaN,NaN
1194,CHC,NL,1963,570,578,82,0.297,0.363,0.238,0,NaN,NaN,162,NaN,NaN
1214,CHC,NL,1962,632,827,59,0.317,0.377,0.253,0,NaN,NaN,162,NaN,NaN

In [11]:
#Mean of runs scored - rs - Chicago
df.loc[df.Team == 'CHC'].RS.mean()

695.1914893617021

In [16]:
#Mean of runs scored - rs - Chicago - since 2005
df.loc[(df.Team == 'CHC') & (df.Year > 1971)].RS.mean()

704.5135135135135

In [17]:
# Exercise - What is mean of RA by Chicago until 2007?
df.loc[(df.Team == 'CHC') & (df.Year < 2007)].RA.mean()

728.170731707317

##Mode

In [21]:
#Most frequent number
#Comparing Mean and Mode
print(df.W.mean())
print(df.W.mode())

80.90422077922078
0    83
Name: W, dtype: int64

##Median

In [22]:
#Central number
#Comparing Mean and Median
print(df.W.mean())
print(df.W.median())

80.90422077922078
81.0

In [23]:
#Exercise - What is median of wins of Baltimore (BAL) until 2000?
df.loc[(df.Team == 'BAL') & (df.Year < 2000)].W.median()

89.5